{% extends 'base.html' %}

{% block content %}

<form method="POST" action="{{ url_for('main.create_author') }}">
    {{ form.hidden_tag() }} 
    
    <fieldset>
        <legend>Enter author details</legend>

        <!-- Author Name Field -->
        {{ form.name.label }}
        {{ form.name }}
        <!-- Show form errors -->
        <ul>
        {% for error in form.name.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

        <!-- Author Biography Field -->
        {{ form.biography.label }}
        {{ form.biography }}
        <!-- Show form errors -->
        <ul>
        {% for error in form.biography.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

        <!-- Submit Button -->
        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}
